In [86]:
import pandas as pd
import numpy as np

In [87]:
dtable = pd.read_csv('lev_data.csv')

In [88]:
dtable

   AGE                   DESC  FREQ   AMT
0    0                Chem SP     1   -85
1    0             Hersh Drag     1   -60
2    1  Bareroot OP Seedlings     1   -34
3    1          Reforest Hand     1   -48
4   15             Thin-1 40%     1   223
5   23             Thin-2 30%     1   345
6   30          Final Harvest     1  2046
7   30              Land Rent     0   -80

In [98]:
dtable = dtable.assign(FVAL = lambda x: x.AMT * np.power(1.01, x.AGE))

In [99]:
dtable

   AGE                   DESC  FREQ   AMT         FVAL
0    0                Chem SP     1   -85   -85.000000
1    0             Hersh Drag     1   -60   -60.000000
2    1  Bareroot OP Seedlings     1   -34   -34.340000
3    1          Reforest Hand     1   -48   -48.480000
4   15             Thin-1 40%     1   223   258.896077
5   23             Thin-2 30%     1   345   433.721241
6   30          Final Harvest     1  2046  2757.698881
7   30              Land Rent     0   -80  -107.827913

In [100]:
interm_table = dtable.loc[lambda dtable: dtable.FREQ == 1, :].assign(PVAL = lambda x: x.FVAL * np.power(
        1.04, np.negative(x.AGE)))

In [101]:
interm_table

   AGE                   DESC  FREQ   AMT         FVAL        PVAL
0    0                Chem SP     1   -85   -85.000000  -85.000000
1    0             Hersh Drag     1   -60   -60.000000  -60.000000
2    1  Bareroot OP Seedlings     1   -34   -34.340000  -33.019231
3    1          Reforest Hand     1   -48   -48.480000  -46.615385
4   15             Thin-1 40%     1   223   258.896077  143.755801
5   23             Thin-2 30%     1   345   433.721241  175.972129
6   30          Final Harvest     1  2046  2757.698881  850.250046

In [102]:
interm_table['PVAL'].sum()

945.3433606097216

In [103]:
annual_table = dtable.loc[lambda dtable: dtable.FREQ == 0, :].assign(PVAL = lambda x: x.AMT * (np.power(
        1.04, x.AGE) - 1) / (0.04 * np.power(1.04, x.AGE)))

In [104]:
annual_table

   AGE       DESC  FREQ  AMT        FVAL         PVAL
7   30  Land Rent     0  -80 -107.827913 -1383.362664

In [105]:
npv = interm_table['PVAL'].sum() + annual_table['PVAL'].sum()

In [106]:
npv

-438.0193034434375